---
title: Le Wagon - Middleman - Team
---

<div id="about">
  <div class="about-content">
    <h1>This template was built with <i class="fa fa-heart"></i> by</h1>
    <ul class="list-inline">
        <li>
         <img src= "https://avatars2.githubusercontent.com/u/32458507?v=4" class="img-circle" alt="Leonardo"/>
          <h2>Leonardo Silva</h2>
          <p>
            <a href="https://kitt.lewagon.com/alumni/Leosilva11">
              <i class="fa fa-github"></i> Leonardo Silva
            </a>
          </p>
        </li>
      <li>
         <img src="https://avatars3.githubusercontent.com/u/32442529?v=4" class="img-circle" alt="Rodrigo"/>
          <h2>Rodrigo Latache</h2>
          <p>
            <a href="https://kitt.lewagon.com/alumni/RodrigoJLPF">
              <i class="fa fa-github"></i> Rodrigo Latache
            </a>
          </p>
      </li>
    </ul>
  </div>
</div>
